@charset "utf-8";
@font-face {
  font-family: "iconfont"; /* Project id 3864811 */
  src: url('iconfont.woff2?t=1678711839589') format('woff2'),
       url('iconfont.woff?t=1678711839589') format('woff'),
       url('iconfont.ttf?t=1678711839589') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e600";
}

.icon-success:before {
  content: "\e61b";
}

.icon-warning:before {
  content: "\e625";
}

.icon-info:before {
  content: "\e60d";
}

.icon-xiaoxi:before {
  content: "\e691";
}

