@charset "utf-8";
@import "./animation.scss";
@import "../assets/icon/iconfont.scss";
:root {
  --base-font-color: #303133;
  --nan-succeed-color: #72e985;
  --nan-error-color: #ce4a4e;
  --nan-text-align: left;
  --nan-padding: 12px 18px;
  --nan-animation-duration: 0.5s;
  --nan-justify-content: flex-start;
}
@mixin alert-theme($color, $bkColor, $side) {
  background-color: $bkColor;
  color: #fdfbfb;
  .nan-icon {
    color: $color;
    font-weight: 400;
  }
}
.center {
  --nan-justify-content: center;
}
.nan-alert {
  font-size: 14px;
  min-width: 380px;
  display: flex;
  justify-content: var(--nan-justify-content);
  align-items: baseline;
  margin: 0 auto;
  padding: var(--nan-padding);
  text-align: var(--nan-text-align);
  border-radius: 6.5px;
  position: absolute;
  top: 0px;
  left: 50%;
  font-weight: 400;
  right: 50%;
  translate: (-50% 0);
  overflow: hidden;
  span {
   display: inline-block;
   vertical-align: middle;
  }

}
.enter {
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-name: entry;
  animation-fill-mode: forwards;
    &:hover {
      animation-play-state: paused;
    }
}

.out {
  animation-duration: var(--nan-animation-duration);
  animation-timing-function: cubic-bezier(0.38, 0.63, 0.56, 0.92);
  animation-name: out;
}

.alert-success {
  @include alert-theme(#4ffbdf, #5eccad, var(--nan-succeed-color));
}

.alert-warning {
  @include alert-theme(#fff, #ffa963, #ffb38c);
}

.alert-info {
  color: var(--base-font-color) !important;
  @include alert-theme(#909399, #ebedee, #ebeef5);
}

.alert-error {
  @include alert-theme(#fef0f0, #ce4a4e, var(--nan-error-color));
}
.nan-icon {
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
