.flicker {
  animation-duration: 1.2s;
  animation-name: flicker;
  animation-iteration-count: infinite;
}
@keyframes flicker {
  0% {
    opacity: 0.2;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  100% {
    opacity: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  }
}
$startingPosition: 20px;
$destination: 25px;

@keyframes entry {
  0% {
    opacity: 0;
    transform: translateY(-$destination);
  }

  100% {
    opacity: 1;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    transform: translateY($startingPosition); // top: -100px;
  }
}
@keyframes out {
  0% {
    opacity: 1;
    transform: translateY($startingPosition); // top: -100px;
  }

  100% {
    opacity: 0;
    transform: translateY(-$destination);
  }
}
