@charset "utf-8";
@import "./animation.scss";
:root {
  --base-font-color: #303133;
  --nan-succeed-color: #72e985;
  --nan-error-color: #ce4a4e;

  --nan-text-align: left;
  --nan-padding: 12px 18px;
  --nan-animation-duration: 0.5s;
}
@mixin alert-theme($color, $bkColor, $side) {
  background-color: $bkColor;
  color: #fff;
  // border: solid $side 1px;
}

.nan-alert {
  font-size: 14px;
  min-width: 380px;
  display: inline-block;
  // border: solid red 1px !important;
  margin: 0 auto;
  padding: var(--nan-padding);
  text-align: var(--nan-text-align);
  border-radius: 6px;
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  translate: (-50% 0);
  overflow: hidden;

  &::after {
    content: " ";
    width: 100px;
    height: 100px;
    background-color: #ce4a4e;
  }
}

.enter {
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-name: entry;
  animation-fill-mode: forwards;
}

.out {
  animation-duration: var(--nan-animation-duration);
  animation-timing-function: cubic-bezier(0.38, 0.63, 0.56, 0.92);

  animation-name: out;
}
// box-shadow: 0 2px 12px 0 rgba(209, 17, 17, 0.5);

.alert-success {
  @include alert-theme(#c7fcec, #00c9a7, var(--nan-succeed-color));
}

.alert-warning {
  @include alert-theme(#fff, #ffa963, #ffb38c);
}

.alert-info {
  color: var(--base-font-color) !important;
  @include alert-theme(#909399, #edf2fc, #ebeef5);
}

.alert-error {
  @include alert-theme(#fef0f0, #ce4a4e, var(--nan-error-color));
}
