 @charset "utf-8";
 @mixin alert-theme($color, $bkColor, $side) {
     background-color: $bkColor !important;
     color: $color !important;
     border: solid $side 1px !important;
 }
 
 .me-alert {
     font-size: 14px;
     min-width: 380px;
     box-sizing: border-box;
     border-radius: 4px;
     position: fixed;
     left: 50%;
     background-color: #edf2fc;
     color: #909399;
     border: solid #ebeef5 1px;
     transform: translateX(-50%);
     overflow: hidden;
     padding: 15px 15px 15px 20px;
     display: flex;
     align-items: center;
 }
 
 .entranceBox {
     animation-timing-function: cubic-bezier(.58, .72, .53, .67);
     -webkit-animation-timing-function: cubic-bezier(.58, .72, .53, .67);
     animation-name: entrance;
     animation-fill-mode: forwards;
 }
 
 .leaveBox {
     animation-timing-function: ease-out;
     -webkit-animation-timing-function: ease-out;
     animation-name: leave;
     animation-fill-mode: forwards;
 }
 
 @keyframes entrance {
     0% {
         opacity: .4;
         top: -20px;
     }
     8% {
         opacity: 1;
         top: 20px;
     }
     90% {
         opacity: 1;
         top: 20px;
     }
     100% {
         opacity: 0.2;
         top: -10px;
     }
 }
 
 @keyframes leave {
     from {
         opacity: 1;
         top: 20px;
     }
     to {
         opacity: 0;
         top: -20px;
     }
 }
 
 .alert-success {
     @include alert-theme(#67c23a, #f0f9eb, #e1f3d8);
 }
 
 .alert-warning {
     @include alert-theme(#e6a23c, #fdf6ec, #faecd8);
 }
 
 .alert-info {
     @include alert-theme(#909399, #edf2fc, #ebeef5);
 }
 
 .alert-error {
     @include alert-theme(#f56c6c, #fef0f0, #fde2e2);
 }