@font-face {
  font-family: "ifont"; /* Project id 2735453 */
  src: url('./font_2735453_5qukyiw3qso.woff2'),
       url('./font_2735453_5qukyiw3qso.woff2'),
       url('//at.alicdn.com/t/font_2735453_5qukyiw3qso.ttf?t=1650008298382') format('truetype');
}

.ifont {
  font-family: "ifont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kuozhanziduanshezhi:before {
  content: "\e668";
}

.icon-youxianji:before {
  content: "\e669";
}

.icon-yizhongzhi1:before {
  content: "\e660";
}

.icon-fapiaotaitoubuyizhi:before {
  content: "\e659";
}

.icon-weizhifu1:before {
  content: "\e655";
}

.icon-zhifuzhong1:before {
  content: "\e656";
}

.icon-weitijiao1:before {
  content: "\e657";
}

.icon-weizhongzhi1:before {
  content: "\e658";
}

.icon-zhankaishouqi:before {
  content: "\e654";
}

.icon-xiangyouzhankai:before {
  content: "\e652";
}

.icon-xiangzuozhankai:before {
  content: "\e653";
}

.icon-yizuofei:before {
  content: "\e64b";
}

.icon-shenhezhong1:before {
  content: "\e64c";
}

.icon-shenhewancheng1:before {
  content: "\e64d";
}

.icon-zhifuwancheng:before {
  content: "\e64e";
}

.icon-zhifushibai1:before {
  content: "\e650";
}

.icon-tuihui1:before {
  content: "\e651";
}

.icon-caidan-zhankai:before {
  content: "\e607";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-pdf1:before {
  content: "\e64f";
}

.icon-PDF:before {
  content: "\e645";
}

.icon-yiwancheng:before {
  content: "\e632";
}

.icon-jpg:before {
  content: "\e601";
}

.icon-txt1:before {
  content: "\e641";
}

.icon-ppt:before {
  content: "\e63f";
}

.icon-word:before {
  content: "\e640";
}

.icon-excel:before {
  content: "\e6d6";
}

.icon-pdf:before {
  content: "\e61c";
}

.icon-tupian:before {
  content: "\e620";
}

.icon-yizhongzhi:before {
  content: "\e62d";
}

.icon-weizhongzhi:before {
  content: "\e62e";
}

.icon-tuihui:before {
  content: "\e625";
}

.icon-shenhezhong:before {
  content: "\e626";
}

.icon-shenhewancheng:before {
  content: "\e627";
}

.icon-weizhifu:before {
  content: "\e628";
}

.icon-zhifushibai:before {
  content: "\e629";
}

.icon-weitijiao:before {
  content: "\e62a";
}

.icon-zhifuzhong:before {
  content: "\e62b";
}

.icon-yizhifu:before {
  content: "\e62c";
}

.icon-changyongwendang:before {
  content: "\e609";
}

.icon-baoxiao:before {
  content: "\e60b";
}

.icon-piaojia:before {
  content: "\e60c";
}

.icon-qiankuan:before {
  content: "\e60d";
}

.icon-shenqing:before {
  content: "\e60e";
}

.icon-lajixiang:before {
  content: "\e60a";
}

.icon-kefu:before {
  content: "\e635";
}

.icon-kefu1:before {
  content: "\e606";
}

.icon-quxiao:before {
  content: "\e61d";
}

.icon-caidandakai:before {
  content: "\e605";
}

.icon-shouye-sousuo-24px:before {
  content: "\e71e";
}

.icon-yincangcaidan-24px:before {
  content: "\e61e";
}

