@font-face {
  font-family: "ifont"; /* Project id 2584761 */
  src: url('./font_2735453_5qukyiw3qso.woff2'),
       url('./font_2735453_5qukyiw3qso.woff2'),
       url('./font_2735453_5qukyiw3qso.woff2');
}

.ifont {
  font-family: "ifont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-julisuofang:before {
  content: "\edda";
}

.icon-huoche:before {
  content: "\e66a";
}

.icon-feiji:before {
  content: "\e74d";
}

