<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= webpackConfig.name %></title> -->
    <link rel="stylesheet" href="./font_2735453_5qukyiw3qso.woff2">
    <!-- 菜单图标库 -->
    <link rel="stylesheet" href="./font_2735453_5qukyiw3qso.woff2">
    <!-- APSPC页面图标库 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2735453_bg5mz4eoofm.css">
    <!--APP端图标库-->
    <link rel="stylesheet" href="./font_2735453_5qukyiw3qso.woff2">
    <!-- pc菜单图标库 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_2584761_m7p831obpqe.css">
  	<link rel="stylesheet" href="//at.alicdn.com/t/font_2735453_ez91lc6wde6.css">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
	<script src="./jquery-3.6.0.min.js"></script>
	<script src="./socket.io.dev.js"></script>
	<script src="./WebScan.js"></script>
    <script src="//at.alicdn.com/t/font_2735453_8dqvpuoa8ro.js"></script>
</html>
