@charset "utf-8";
#mocha{
    font-size: 24px;
    width: 220px;
}
@mixin alert-theme($color, $bkColor, $side) {
    background-color: $bkColor ;
    color: $color ;
    border: solid $side 1px ;
}

.nan-alert {
    font-size: 14px;
    min-width: 380px;
    box-sizing: border-box;
    border-radius: 4px;
    // position: fixed;
    position: absolute;
    left: 50%;
    opacity: 0;
    top: 0px;
    background-color: #edf2fc;
    color: #909399;
    border: solid #ebeef5 1px;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 15px 15px 15px 20px;
    display: flex;
    align-items: center;
}

.entranceBox {
    animation-timing-function: cubic-bezier(.58, .72, .53, .67);
    -webkit-animation-timing-function: cubic-bezier(.58, .72, .53, .67);
    animation-name: entrance;
    animation-fill-mode: forwards;
}

.leaveBox {
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-name: leave;
    animation-fill-mode: forwards;
}

@keyframes entrance {
    0% {
        opacity: 0;
        top: -20px;
    }
    8% {
        opacity: 1;
        top: 20px;
    }
    
    90% {
        opacity: 1;
        top: 20px;
    }
    100% {
        opacity: 0.4;
        top: -100px;
    }
}

@keyframes leave {
    from {
        opacity: 1;
        top: 20px;
    }
    to {
        opacity: 0;
        top: -20px;
    }
}

.alert-success {
    @include alert-theme(#C7FCEC, #00C9A7, #00C9A7);
}

.alert-warning {
    @include alert-theme(#fff, #FFA963, #FFB38C);
}

.alert-info {
    @include alert-theme(#909399, #edf2fc, #ebeef5);
}

.alert-error {
    @include alert-theme(#fef0f0, #CE4A4E, #CE4A4E);
}