@charset "utf-8";

@mixin alert-theme($color, $bkColor, $side) {
    background-color: $bkColor ;
    color: $color ;
    border: solid $side 1px;
}

.nan-location {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    text-align: center;
    // border: solid red 1px;
}

.nan-alert {
    font-size: 14px;
    min-width: 380px;
    box-sizing: border-box;
    border-radius: 4px;
    // position: fixed;
    // position: absolute;
    // left:;
    opacity: 0;
    // top: 0px;
    display: inline-block;
         max-width: 80%;
    // margin-top: 20px;
    margin: 0 auto;
    background-color: #edf2fc;
    color: #909399;
    border: solid #ebeef5 1px;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 15px 15px 15px 20px;
    // display: flex;
    align-items: center;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    
    // &:hover{
    //     transition: all 0.3s;
    //     // animation-delay:
    //     color: #333;
    //     // transform: translateY(20px)  !important;
    // }
}

.entranceBox {
    animation-duration: 0.5s;
    animation-timing-function: ease;
    // -webkit-animation-timing-function: cubic-bezier(.58, .72, .53, .67);
    animation-name: entry;
    animation-fill-mode: forwards;
    // transform: translateX(0) 

}

.entranceBoxOut {
    animation-duration: 0.4s !important;
    animation-timing-function: cubic-bezier(.38, .63, .56, .92) !important;

    animation-name: out !important;

}

// .leaveBox {
//     animation-timing-function:ease-in-out;
//     // -webkit-animation-timing-function: ease-out;
//     animation-name: leave;
//     animation-fill-mode: forwards;
// }
@keyframes out {
    0% {
        opacity: 1;
        transform: translateY(20px) // top: -100px;
    }

    100% {
        opacity: 0;
        display: none;
        // top: -20px;
        transform: translateY(-20px)
    }

}

@keyframes entry {
    0% {
        opacity: 0.4;
        // top: -20px;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(20px) // top: -100px;
    }
}

.alert-success {
    @include alert-theme(#C7FCEC, #00C9A7, #00C9A7);
}

.alert-warning {
    @include alert-theme(#fff, #FFA963, #FFB38C);
}

.alert-info {
    @include alert-theme(#909399, #edf2fc, #ebeef5);
}

.alert-error {
    @include alert-theme(#fef0f0, #CE4A4E, #CE4A4E);
}